.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-btn button {
    border: 2px solid rgb(26, 67, 124);
    color: rgb(26, 67, 124);
    width: 100px;
    padding: 4px 8px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    transition: 200ms;
    margin: 30px 0;
}

.contact-btn button:hover {
    opacity: 0.7;
    transition: 200ms;
    cursor: pointer;
}

.text-area {
    display: flex;
    flex-direction: column;
}

.text-area textarea {
    width: 300px;
    height: 150px;
}

.input-field {
    align-self: center;
}

.input-field {
    width: 100% !important;
}

.input-field input:focus+label {
    color: rgb(26, 67, 124) !important;
}

.input-field input:focus, .input-field input:active, .input-field input.valid {
    border-bottom: 1px solid rgb(26, 67, 124) !important;
    box-shadow: 0 1px 0 0 rgb(26, 67, 124) !important;
}