.about-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.about-component img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.about-component .title {
    margin-bottom: 50px;
}

.about-component p {
    margin-left: 10%;
    margin-right: 10%;
}

.skill-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.skill-set ul {
    list-style-type: none;
}

.skill-set ul li {
    margin: 0 0 0 -38px;
    padding: 0;
}

.skill-set div {
    margin-left: 60px;
}

.skill-set div ul li {
    margin-bottom: 10px;
}

.row-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 150px;
    margin-right: 150px;
}

.profile-pic-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic-text p {
    margin-top: 30px;
    width: 60%;
}

@media only screen and (max-width: 768px) {
    .row-about {
        flex-direction: column;
    }

    .skill-set {
        flex-direction: column;
        width: 100%;
    }
}