.about-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.about-component img {
    width: 175px;
    height: 175px;
    border-radius: 100%;
}

.about-component .title {
    margin-bottom: 50px;
}

.about-component p {
    margin-left: 10%;
    margin-right: 10%;
}

.skill-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.front-end,
.back-end,
.tools {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 200px;
}

.profile-pic-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic-text p {
    margin-top: 30px;
    width: 60%;
}

@media only screen and (max-width: 768px) {
    .row-about {
        flex-direction: column;
    }

    .skill-set {
        flex-direction: column;
        width: 100%;
    }
}