.banner {
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translateY(-65%) translateX(-55%);
}

#banner.section.scrollspy.banner-container {
  padding: 0;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.banner p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  align-self: center;
}

.banner-content a {
  margin-top: 20px;
  border: 2px solid white;
  color: white;
  width: 175px;
  padding: 4px 8px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  transition: 200ms;
}

.banner-content a:hover {
  background-color: white;
  border: 2px solid white;
  border-radius: 3px;
  color: rgb(26, 67, 124);
  transition: 200ms;
}

canvas {
  height: 100vh !important;
  margin-bottom: -6px !important;
}


@media only screen and (max-width: 768px) {
  canvas {
    display: none;
  }

  .banner-content {
    margin-left: 25px;
  }

  .mobile-banner {
    height: 100vh !important;
    background-color: rgb(26, 67, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner-content h1 {
    font-size: 50px;
    text-align: center;
  }

  .banner-content p {
    font-size: 20px;
    text-align: center;
  }
}